@using PagedList
@using PagedList.Mvc
@model IPagedList<Planes.Models.GoodComments>
@{
    ViewBag.Title = "商品评论管理";
    ViewBag.SiderBar = 1;
    int id = 0;
    if (Model.Count > 0)
    {
        id = Model[0].good_id;
    }
}

<br />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @for (var i = 0; i < Model.Count;i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-@Model[i].id">
                <h4 class="panel-title">
                    <div class="row">
                        <div class="col-md-2">
                            @Model[i].Users.username
                            &nbsp;
                            @Model[i].created_at
                        </div>
                        <div class="col-md-8">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@Model[i].id" aria-expanded="true" aria-controls="collapse-@Model[i].id">
                                @Model[i].body
                            </a>
                        </div>
                        <div class="col-md-1">
                            @if (Model[i].is_lock == 0)
                            { 
                                <a href="/GoodComment/ChangeStatus/@Model[i].id" class="button button-small button-primary">禁用</a>
                            }
                            else
                            {
                                <a href="/GoodComment/ChangeStatus/@Model[i].id" class="button button-small button-primary">启用</a>
                            }
                        </div>
                        <div class="col-md-1">
                            <a href="/GoodComment/Delete/@Model[i].id" class="button button-small button-caution">删除</a>
                        </div>
                    </div>
                </h4>
            </div>
            <div id="collapse-@Model[i].id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@Model[i].id">
                <div class="panel-body">
                    @foreach (var m in Model[i].GoodCommentReplys)
                    {
                        <div class="row">
                            <div class="col-md-1">@m.Users.username</div>
                            <div class="col-md-1">@m.created_at</div>
                            <div class="col-md-8">@m.body</div>
                            <div class="col-md-1">
                                @if (m.is_lock == 0)
                                {
                                    <a href="/GoodComment/ChangeReplyStatus/@m.id" class="button button-tiny button-primary">禁用</a>
                                }
                                else
                                {
                                    <a href="/GoodComment/ChangeReplyStatus/@m.id" class="button button-tiny button-primary">启用</a>
                                }
                            </div>
                            <div class="col-md-1">
                                <a href="/GoodComment/DeleteReply/@m.id" class="button button-tiny button-caution">删除</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { 
        page,
        id
    }))
</div>
