@model Planes.Models.PasswordResetModel
@{
    ViewBag.Title = "修改密码";
}

<hr />

@using (Html.BeginForm("PasswordReset","Account",FormMethod.Post,new { @class = "form-horizontal",role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="col-md-offset-2 col-md-10">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary">确定</button>
        </div>
    </div>
}
