@model Planes.Models.AreaCreateModel
@{
    ViewBag.Title = "添加";
    ViewBag.SiderBar = 0;
}
<hr />
<div class="row">
    <div class="col-md-1">
        <a class="button button-large button-primary button-border button-circle" href="/Area"><i class="fa fa-reply"></i></a>
    </div>
    <div class="col-md-10">
            @using (Html.BeginForm("Create", "Area", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Lng, new { @class = "col-sm-offset-1 col-sm-1 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Lng, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.Lat, new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Lat, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="height:300px;">
                        @Html.Partial("_BaiDuMap")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6 col-lg-6">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", rows = "10" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button class="btn btn-primary btn-block" type="submit">确定</button>
                    </div>
                </div>
            }
    </div>
</div>
@section scripts{
<script>
    var txt = document.getElementById("Address");
    var map = new BMap.Map("bdmap");
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
    map.setCurrentCity("北京");
    map.enableScrollWheelZoom(true);
    var ctrl = new ZoomControl();
    //map.addControl(ctrl);
    var label = new BMap.Label("自动定位中...", {
        position: BMAP_ANCHOR_TOP_LEFT,
        offset: new BMap.Size(25, 15)
    });
    label.setStyle({
        color: "red",
        fontSize: "12px",
        height: "20px",
        lineHeight: "20px",
        fontFamily: "微软雅黑"
    });
    map.addOverlay(label);
    map.addEventListener("click", function (e) {
        var pt = e.point;
        map.clearOverlays();
        var marker = new BMap.Marker(pt);
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        $("#Lng").val(pt.lng);
        $("#Lat").val(pt.lat);
        var geoc = new BMap.Geocoder();
        geoc.getLocation(pt, function (rs) {
            $(txt).val(rs.address);
        });
    });
    var city = new BMap.LocalCity();
    city.get(function (r) {
        map.setCenter(r.name);
        //map.removeControl(ctrl);
    });

    $("#Lng,#Lat").focusout(function () {
        var lng = $("#Lng").val();
        var lat = $("#Lat").val();
        if (lng == undefined || lng.length < 1 || lat == undefined || lat.length < 1) return;
        var pt = new BMap.Point(parseFloat(lng),parseFloat(lat));
        map.centerAndZoom(pt, 12);
        map.clearOverlays();
        var marker = new BMap.Marker(pt);
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        var geoc = new BMap.Geocoder();
        geoc.getLocation(pt, function (rs) {
            $(txt).val(rs.address);
        });
    })
</script>
}


