@model Planes.Models.CreateOfPlaneModel
@{
    ViewBag.Title = "添加飞机";
    ViewBag.SiderBar = 6;
}
<hr />
<div class="row">
    <div class="col-md-1">
        <a class="button button-large button-primary button-border button-circle" href="/SalePlane/Index"><i class="fa fa-reply"></i></a>
    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("Create", "SalePlane", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Modelss, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Modelss, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.Partial("_PlaneType")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col2, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col3, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col6, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col6, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MarketPrice, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.MarketPrice, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col4, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col4, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col7, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col7, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col8, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Col8, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Desci, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Desci, new { @class = "form-control", rows = "6" })
                </div>
            </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">展示图片</label>
        <div class="col-sm-6">
            <input type="file" name="Img" id="Img" data-preview-file-type="image" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">介绍图片</label>
        <div class="col-md-6">
            <input type="file" name="Imgs" id="Imgs" multiple="multiple" data-preview-file-type="image" class="form-control" />
        </div>
    </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-primary btn-block" type="submit">确定</button>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $("#Imgs").fileinput({
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif', 'bmp', 'jpeg'],
            showUpload: false
        });

        $("#Img").fileinput({
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif', 'bmp', 'jpeg'],
            showUpload: false
        });
    </script>
}