@model Planes.Models.Orders
<div class="form-group">
    <label class="col-sm-2 control-label">飞机品牌</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.name, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">飞机型号</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.model, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">公司名称</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.Sellers.name, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">机场名称</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.Areas.name, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">学习时间</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.col1, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">备注</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.col2, new { @class = "form-control", disabled = "true" })
    </div>
</div>
