@model Planes.Models.Orders
<div class="form-group">
    <label class="col-sm-2 control-label">商品名称</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.name, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">商品类型</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.GoodTypes.name, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">商品编号</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.good_id, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">商品价格</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.Goods.price, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">购买数量</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.count, new { @class = "form-control", disabled = "true" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">备注</label>
    <div class="col-sm-6">
        @Html.TextBoxFor(m => m.col1, new { @class = "form-control", disabled = "true" })
    </div>
</div>
