
@{
    ViewBag.Title = "广告管理";
    ViewBag.SiderBar = 5;
}

@using PagedList.Mvc;
@using PagedList;
<hr />
<div class="row">
    <div class="col-md-1">
        <a class="button button-large button-primary button-border button-circle" href="/Ads/Index"><i class="fa fa-reply"></i></a>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-block btn-success" })
    </div>
</div>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>图片</th>
                <th>名称</th>
                <th>类型</th>
                <th>链接</th>
                <th>位置</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var m in ViewBag.Data)
            {
                <tr>
                    <td>
                        @{
                i++;
                @i
                        }
                    </td>
                    <td>
                        <img src="/@m.img" style="max-height:80px;" >
                    </td>
                    <td>@m.name</td>
                    <td>
                        @if (m.type == 0)
                        {
                            @:外链
                        }
                        else
                        {
                            @:内链
                        }
                    </td>
                    <td>@m.link</td>
                    <td>@m.position</td>
                    <td>
                        <a class="button button-small button-highlight" href="/Ads/Detail?id=@m.id">查看</a>
                        <a class="button button-small button-caution" href="/Ads/Delete?id=@m.id">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)ViewBag.Data, page => Url.Action("Index", new { page }))
</div>

