@model Planes.Models.EditOfPlaneModel
@{
    ViewBag.Title = "查看飞机详情";
    ViewBag.SiderBar = 1;
}

<hr />
<div class="row">
    <div class="col-md-1">
        <a class="button button-large button-primary button-border button-circle" href="/Good/IndexOfPlane?airportId=@ViewBag.AirportId"><i class="fa fa-reply"></i></a>
    </div>
    <div class="col-md-4 text-center">
        @Model.Name
    </div>
    <div class="col-md-2">
        收藏数：@Model.Collection<br>
        销售量：@Model.Saled
    </div>
</div>
<hr />
    @using (Html.BeginForm("DetailOfPlane", "Good", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        @Html.HiddenFor(m => m.AirportId);
        @Html.HiddenFor(m => m.Id);
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Modelss, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Modelss, new { @class = "form-control" })
            </div>
        </div>
        if (((int)ViewBag.GroupId) != 3)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    @Html.TextBoxFor(m => m.Unit, new { @class = "form-control", placeholder = "货币单位" })
                </div>
            </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Col11, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(m => m.Col11, new { @class = "form-control" })
        </div>
    </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.GoodType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                <select class="form-control" data-val="true" data-val-number="字段 销售类型 必须是一个数字。" data-val-required="销售类型 字段是必需的。" id="GoodType" name="GoodType">
                    @if (((int)ViewBag.GroupId) == 3)
                    {
                        <option @if (Model.GoodType == 6) { @:selected 
                                } value="6">特价包机</option>
                        <option @if (Model.GoodType == 7) { @:selected 
                                } value="7">飞的航线</option>
                        <option @if (Model.GoodType == 8) { @:selected 
                                } value="8">预定航程</option>
                    }
                    else
                    {
                        <option @if (Model.GoodType == 4) { @:selected 
                                } value="4">商照</option>
                        <option @if (Model.GoodType == 5) { @:selected 
                                } value="5">私照</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col1, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.Partial("_PlaneType",ViewData["Col1"] = Model.Col1)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.Col2, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col3, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col6, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col6, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MarketPrice, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.MarketPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col4, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col4, new { @class = "form-control" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(m => m.ProductionTime, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.ProductionTime, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col5, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col5, new { @class = "form-control" })
            </div>
        </div>*@
        
        <div class="form-group">
            @Html.LabelFor(m => m.Col7, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col7, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Col8, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Col8, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Desci, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.Desci, new { @class = "form-control", rows = "6" })
            </div>
        </div>
        
    
    <div class="form-group">
        <label class="col-sm-2 control-label">展示图片</label>
        <div class="col-sm-6">
            <input type="file" name="Img" id="Img" data-preview-file-type="image" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">介绍图片</label>
        <div class="col-md-6">
            <input type="file" name="Imgs" id="Imgs" multiple="multiple" data-preview-file-type="image" class="form-control" />
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button class="btn btn-primary btn-block" type="submit">保存</button>
            </div>
        </div>
    }
@section scripts{
    <script>
        $("#GoodType").change(function () {
            return;
            var type = $(this).val();
            if (type == 2 || type == 3) {
                $("#prices").removeClass("hide");
            } else {
                $("#prices").addClass("hide");
            }
        })

        $("#Img").fileinput({
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif', 'bmp', 'jpeg'],
            initialPreview: [
                "<img src='/@Model.ImgUrl' class='file-preview-image' >"
            ],
            overwriteInitial: true,
            showUpload: false
        });

        $("#Imgs").fileinput({
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif', 'bmp', 'jpeg'],
            initialPreview: [
                @foreach (var s in Model.ImgUrls)
            {
            @:"<img src='/@s' class='file-preview-image' >",
        }
            ],
            overwriteInitial: true,
            showUpload: false
        });
</script>
}
